.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  width: 100%;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-around;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.rankInput {
  text-align: left;
  padding: 10px;
}

.countries {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.header {
  font-size: 24px;
}

.rankForm {
  display: flex;
  justify-content: center;
}
